h1 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 23px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } h3 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } p { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } blockquote { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } pre { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 11px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; }

.content {
	margin: 2% 15% 2% 15%;
}

.navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #006699;
}

.navbar-nav > li > a,
.navbar-default .navbar-nav > li > a {
    color: #cccccc;
    margin: 15px;
}
